@font-face {
    font-family: Agave;
    src: url('/fonts/agave\ regular\ Nerd\ Font\ Complete\ Mono.ttf');
}

* {
    font-family: Agave, 'Courier New', Courier, monospace;
}

body {
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#typer {
    width: 80vw;
    font-size: 1.5rem;
}

.untyped {
    color: gray;
}

.correct {
    color: mediumspringgreen;
    filter: drop-shadow(0px 0px 1px mediumspringgreen);
}

.incorrect {
    color: crimson;
    filter: drop-shadow(0px 0px 4px crimson);
}

.menu input[type='text'].full-width {
    width: 100%;
}

.menu #start {
    width: 100%;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s;
}

.completely-hidden {
    display: none;
}

.playerlist {
    color: whitesmoke;
}

.playerlist ul {
    padding-inline-start: 0;
}

.playerlist lh {
    font-size: 1.5em;
    margin-left: -1em;
}

.progresscontainer {
    background-color:gray;
    width:70%;
    margin:10px auto;
}

.progressbar {
    --progress: 50%;
    --barcolor: mediumspringgreen;
    filter: drop-shadow(0px 0px 5px var(--barcolor));
    background-color: var(--barcolor);
    width: var(--progress);
    height: 30px;
    transition: width 0.2s;
    font-size: 1.5rem;
    font-weight: bold;
    overflow:hidden;
}

#bars {
    width: 100%;
}

#trafficlight {
    --color: red;
    background-color: var(--color);
    filter: drop-shadow(0px 0px 10px var(--color));
    margin-bottom: 30px;
    border-radius: 50%;
    width: 20vh;
    aspect-ratio: 1;
    text-align: center;
    vertical-align: middle;
    line-height: 20vh;
    font-size: 5vh;
}

